{% extends 'base.html' %} {% load static %} {% block content %}
<div class="space">
</div>
{% if success %}
<h2 style="margin: auto">{{success}}</h2>
{% endif %}
<div class="form">
    <form method="POST" class="Screen">{% csrf_token %}
        <div class="title">
            <h2 style="margin: auto">New Book</h2>
        </div>
        <div class="bookForm">
            {{ form.as_p }}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
{% endblock content %}