{% extends 'active_template/base.html' %} {% load static %} {% block content %}
<div class="space">
</div>
{% if success %}
<h2 style="margin: auto">{{success}}</h2>
{% endif %}
<div class="form">
    <!--form for new book-->
    <form method="POST" class="Screen">{% csrf_token %}
        <div class="title">
            <h2 style="margin: auto">Add New Book</h2>
        </div>
        <div class="bookForm">
            <!--fields are passed from our forms.py-->
            {{ form.as_p }}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>
{% endblock content %}