{% extends 'active_template/base.html' %} {% load static %} {% block content %}
<div class="space"></div>
<div class="space"></div>
    <div id="help">
      <h1>Welcome to the in app FAQ</h1>
      <div class="questions">
        <h2>Q: Does capitalization for book titles and user's names matter?</h2>
          <p><strong>A: No it does not. The program will automatically capitalize it</strong></p>
      </div>
      <div class="questions">
        <h2>Q: Why are there two sections in the checkin tab?</h2>
        <p><strong>A: The single section is used when only the book information is known while the individual
        section is used section is used to find a specific user and checkin the books that are out to
            them: individually or all together.</strong></p>
      </div>
      <div class="questions">
        <h2>Q: How does the search work?</h2>
        <p><strong>A: For searches having to do with users, the search term will apply to the name(full, first, or last)
        and their ID number. For searches having to do with books, the search term will apply to the book title,
            book author's first, last or full name, and the Call ID.</strong></p>
      </div>
      <div class="questions">
        <h2>Q: Why does the delete option not appear when looking at the information section of a book or user?</h2>
        <p><strong>A: The delete option will only display if the user has no books checked out or if the book is not
            checked out.</strong></p>
      </div>
      <div class="questions">
        <h2>Q: Why won't the program allow me to add a new book or person to the program?</h2>
        <p><strong>A: Make sure all the fields are filled out correctly. Any fields not filled correctly will display
        a warning message above it.</strong></p>
      </div>
      <div class="questions">
        <h2>Q: How can I add or remove fields needed when adding a new book or user?</h2>
        <p><strong>A: At the moment, the only best way to do so will be by changing the source code and making it into
            a standalone executable.</strong></p>
      </div>
      <div class="questions">
        <h2>Q: How can I set the image of a book?</h2>
        <p><strong>A: This operation can not be performed at the moment.</strong></p>
      </div>
    </div>
{% endblock content %}
