{% extends 'active_template/base.html' %} {% load static %} {% block content %}
<div style="height:35px;padding:10px 10px 10px 0px;">
    <button style="background-color: #262846;color: white;width: 70px;height: 34px;border:none;box-shadow:none;" onclick="window.print()">Print</button>
</div>
<div class="book-card">
    <table style="">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Book Out</th>
            <th>Due Date</th>
            <th>Price</th>
        </tr>
        {% for item in overdue %} {% if item.due_date < today %}
        <tr class="{{ forloop.counter|divisibleby:2 }}"></tr>
        <tr class="{{ forloop.counter|divisibleby:2 }}">
            <td>{{item.holder.first_name}} {{item.holder.last_name}}</td>
            <td>{{item.holder.id_number}}</td>
            <td>{{item.title}}</td>
            <td>
                {% with date=item.due_date|slugify %} {{date|slice:"4:6"}}/{{date|slice:"6:8"}}/{{date|slice:":4"}} {% endwith %}
            </td>
            <td>{{item.price}}</td>
        </tr>
        <tr class="{{ forloop.counter|divisibleby:2 }}"></tr>{% endif %}
        {% endfor %}
    </table>
</div>
{% endblock content %}
